In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
XTrain = pd.read_csv('train.data', names = ["documentId", "wordId", "wordOccurrence"], sep = ' ')

In [3]:
XTrain

         documentId  wordId  wordOccurrence
0                 1       1               4
1                 1       2               2
2                 1       3              10
3                 1       4               4
4                 1       5               2
...             ...     ...             ...
1467340       11269   47387               1
1467341       11269   48339               1
1467342       11269   48919               1
1467343       11269   51544               1
1467344       11269   53958               1

[1467345 rows x 3 columns]

2

In [24]:
for i in range()
if XTrain['wordId'] no

In [25]:
XTrain = (XTrain.set_index(["documentId", 'wordId'])
        .reindex(idx).reset_index()
)

array([[0., 0., 0.],
       [0., 0., 0.]])

In [18]:
XTrain["wordOccurrence"].fillna(0)

   documentId  wordId  wordOccurrence
0           1       0             0.0
1           1       1             4.0
2           1       2             2.0
3           2       0             0.0
4           2       1             0.0
5           2       2             0.0
6           3       0             0.0
7           3       1             0.0
8           3       2             0.0

In [ ]:
probOfCategory = []
for i in range(1,21):
    probOfCategory.append((XTrain.loc[XTrain['Category'] == i]['wordId'] )/ SumofWordsinCategory[i])

In [4]:
SumofWordsinDocument = XTrain.groupby(["documentId"]).wordOccurrence.sum()

In [5]:
SumofWordsinDocument

documentId
1        1553
2         180
3          43
4          68
5         418
         ...
11265      95
11266     103
11267     149
11268      33
11269     317
Name: wordOccurrence, Length: 11269, dtype: int64

In [6]:
YTrain = pd.read_csv('train.label', names = ['Category'])

In [7]:
YTrain['documentId'] = list(range(1,11270))

In [8]:
SumOfAllwordsandCategory = pd.merge(SumofWordsinDocument, YTrain, on='documentId')

In [9]:
SumOfAllwordsandCategory

       documentId  wordOccurrence  Category
0               1            1553         1
1               2             180         1
2               3              43         1
3               4              68         1
4               5             418         1
...           ...             ...       ...
11264       11265              95        20
11265       11266             103        20
11266       11267             149        20
11267       11268              33        20
11268       11269             317        20

[11269 rows x 3 columns]

In [10]:
SumofWordsinCategory = SumOfAllwordsandCategory.groupby(["Category"]).wordOccurrence.sum()

In [11]:
TotalWords = SumofWordsinCategory.sum()

In [12]:
SumofWordsinCategory

Category
1     148812
2     110358
3      90767
4      99146
5      86190
6     152846
7      61094
8     114102
9     102631
10    107898
11    141267
12    200456
13    103173
14    155338
15    153714
16    201267
17    175914
18    254805
19    186426
20    119096
Name: wordOccurrence, dtype: int64

In [13]:
ProbabilityOfCategories = SumofWordsinCategory/TotalWords

In [14]:
ProbabilityOfCategories

Category
1     0.053814
2     0.039908
3     0.032824
4     0.035854
5     0.031168
6     0.055273
7     0.022093
8     0.041262
9     0.037114
10    0.039019
11    0.051086
12    0.072490
13    0.037310
14    0.056174
15    0.055587
16    0.072783
17    0.063615
18    0.092144
19    0.067416
20    0.043068
Name: wordOccurrence, dtype: float64

In [15]:
MapTrain = pd.read_csv('train.map', names = ['topic'])

In [16]:
MapTrain

                         topic
0                alt.atheism 1
1              comp.graphics 2
2    comp.os.ms-windows.misc 3
3   comp.sys.ibm.pc.hardware 4
4      comp.sys.mac.hardware 5
5             comp.windows.x 6
6               misc.forsale 7
7                  rec.autos 8
8            rec.motorcycles 9
9        rec.sport.baseball 10
10         rec.sport.hockey 11
11                sci.crypt 12
12          sci.electronics 13
13                  sci.med 14
14                sci.space 15
15   soc.religion.christian 16
16       talk.politics.guns 17
17    talk.politics.mideast 18
18       talk.politics.misc 19
19       talk.religion.misc 20

In [17]:
AllwordsinCategory = pd.merge(XTrain, YTrain, on='documentId')

In [18]:
AllwordsinCategory = AllwordsinCategory.groupby(['Category', 'wordId']).wordOccurrence.sum().reset_index()

In [44]:
AllwordsinCategory['wordId'].max()

53975

In [43]:
(AllwordsinCategory.loc[AllwordsinCategory['Category'] == 2]['wordOccurrence'] + 1)/ SumofWordsinCategory[2]

9986     0.000553
9987     0.000544
9988     0.000163
9989     0.000136
9990     0.000535
           ...
20155    0.000018
20156    0.000018
20157    0.000018
20158    0.000027
20159    0.000027
Name: wordOccurrence, Length: 10174, dtype: float64

In [40]:
probOfCategory = []
for i in range(1,21):
    probOfCategory.append((AllwordsinCategory.loc[AllwordsinCategory['Category'] == i]['wordOccurrence'] + 1)/ SumofWordsinCategory[i])

In [41]:
probOfCategory

[0       0.000094
 1       0.000430
 2       0.001855
 3       0.000067
 4       0.000558
           ...
 9981    0.000013
 9982    0.000013
 9983    0.000020
 9984    0.000013
 9985    0.000013
 Name: wordOccurrence, Length: 9986, dtype: float64,
 9986     0.000553
 9987     0.000544
 9988     0.000163
 9989     0.000136
 9990     0.000535
            ...
 20155    0.000018
 20156    0.000018
 20157    0.000018
 20158    0.000027
 20159    0.000027
 Name: wordOccurrence, Length: 10174, dtype: float64,
 20160    0.000132
 20161    0.000771
 20162    0.000198
 20163    0.000242
 20164    0.000386
            ...
 28418    0.000022
 28419    0.000022
 28420    0.000033
 28421    0.000033
 28422    0.000044
 Name: wordOccurrence, Length: 8263, dtype: float64,
 28423    0.000091
 28424    0.000323
 28425    0.000111
 28426    0.000494
 28427    0.000030
            ...
 36400    0.000020
 36401    0.000020
 36402    0.000030
 36403    0.000020
 36404    0.000020
 Name: wordOccurrence, Length: 7982, dtype: float64,
 36405    0.000081
 36406    0.000394
 36407    0.000023
 36408    0.000023
 36409    0.000557
            ...
 44001    0.000023
 44002    0.000023
 44003    0.000023
 44004    0.000023
 44005    0.000035
 Name: wordOccurrence, Length: 7601, dtype: float64,
 44006    0.000314
 44007    0.001459
 44008    0.000523
 44009    0.000105
 44010    0.000347
            ...
 54004    0.000013
 54005    0.000013
 54006    0.000026
 54007    0.000026
 54008    0.000013
 Name: wordOccurrence, Length: 10003, dtype: float64,
 54009    0.000475
 54010    0.000049
 54011    0.000049
 54012    0.000540
 54013    0.000475
            ...
 62148    0.000049
 62149    0.000033
 62150    0.000033
 62151    0.000049
 62152    0.000033
 Name: wordOccurrence, Length: 8144, dtype: float64,
 62153    0.000088
 62154    0.000482
 62155    0.000123
 62156    0.000762
 62157    0.000070
            ...
 71485    0.000018
 71486    0.000018
 71487    0.000018
 71488    0.000018
 71489    0.000018
 Name: wordOccurrence, Length: 9337, dtype: float64,
 71490    0.000146
 71491    0.000663
 71492    0.000049
 71493    0.000049
 71494    0.000818
            ...
 80819    0.000019
 80820    0.000019
 80821    0.000019
 80822    0.000019
 80823    0.000019
 Name: wordOccurrence, Length: 9334, dtype: float64,
 80824    0.000019
 80825    0.000315
 80826    0.000028
 80827    0.000019
 80828    0.002808
            ...
 88743    0.000028
 88744    0.000028
 88745    0.000019
 88746    0.000019
 88747    0.000019
 Name: wordOccurrence, Length: 7924, dtype: float64,
 88748    0.000014
 88749    0.000481
 88750    0.000014
 88751    0.001487
 88752    0.000021
            ...
 98331    0.000014
 98332    0.000014
 98333    0.000014
 98334    0.000014
 98335    0.000014
 Name: wordOccurrence, Length: 9588, dtype: float64,
 98336     0.000264
 98337     0.000454
 98338     0.000060
 98339     0.000299
 98340     0.000409
             ...
 109903    0.000010
 109904    0.000010
 109905    0.000010
 109906    0.000010
 109907    0.000010
 Name: wordOccurrence, Length: 11572, dtype: float64,
 109908    0.000039
 109909    0.000330
 109910    0.000029
 109911    0.000058
 109912    0.000300
             ...
 118945    0.000019
 118946    0.000019
 118947    0.000019
 118948    0.000019
 118949    0.000019
 Name: wordOccurrence, Length: 9042, dtype: float64,
 118950    0.000103
 118951    0.000258
 118952    0.000090
 118953    0.000135
 118954    0.000451
             ...
 131477    0.000013
 131478    0.000013
 131479    0.000013
 131480    0.000013
 131481    0.000013
 Name: wordOccurrence, Length: 12532, dtype: float64,
 131482    0.000319
 131483    0.000540
 131484    0.000150
 131485    0.000085
 131486    0.000670
             ...
 143502    0.000013
 143503    0.000013
 143504    0.000013
 143505    0.000013
 143506    0.000013
 Name: wordOccurrence, Length: 12025, dtype: float64,
 143507    0.000616
 143508    0.000084
 143509    0.000040
 143510    0.000075
 143511    0.000507
             ...
 154951    0.000010
 154952    0.000010
 154953    0.000010
 154954    0.000010
 154955    0.000010
 Name: wordOccurrence, Length: 11449, dtype: float64,
 154956    0.000114
 154957    0.000193
 154958    0.000040
 154959    0.000068
 154960    0.000608
             ...
 165989    0.000011
 165990    0.000011
 165991    0.000011
 165992    0.000011
 165993    0.000011
 Name: wordOccurrence, Length: 11038, dtype: float64,
 165994    0.000043
 165995    0.000608
 165996    0.000039
 165997    0.000012
 165998    0.000616
             ...
 179323    0.000008
 179324    0.000008
 179325    0.000008
 179326    0.000008
 179327    0.000008
 Name: wordOccurrence, Length: 13334, dtype: float64,
 179328    0.000215
 179329    0.000129
 179330    0.000097
 179331    0.000815
 179332    0.000011
             ...
 190839    0.000016
 190840    0.000011
 190841    0.000011
 190842    0.000027
 190843    0.000011
 Name: wordOccurrence, Length: 11516, dtype: float64,
 190844    0.000386
 190845    0.000084
 190846    0.000025
 190847    0.000202
 190848    0.000378
             ...
 200773    0.000017
 200774    0.000017
 200775    0.000017
 200776    0.000017
 200777    0.000017
 Name: wordOccurrence, Length: 9934, dtype: float64]

In [21]:
Words.shape

(200778, 3)